#showcase {
  background: url('/img/hero-area.svg') no-repeat center/cover;
  min-height: 580px;

  .content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1rem;
    padding-top: 80px;

      .text {
        padding: 10px;

        h1 {
          font-size: 42px;
          margin-bottom: 1rem;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
  }
}
